#wrapper{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}
#item1{
height: 50px;
width: 250px;
margin: 5px;
background-color: black;
}
#item2{
    height: 170px;
    width: 120px;
    margin: 5px;
    background-color: black;
}
#item3{
    height: 170px;
    width: 120px;
    margin: 5px;
    background-color: black;
}
#item4{
    height: 50px;
    width: 250px;
    margin: 5px;
    background-color: black;
}
