#container{
    width: 300px;
    margin: 50px auto 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
#item1{
    background-color: black;
    width: 295px;
    height: 50px;
}
#item2{
    background-color: black;
    width: 140px;
    height: 50px;
    margin: 5px;
}
#item3{
    background-color: black;
    width: 140px;
    height: 50px;
    margin: 5px;
}
#item4{
    background-color: black;
    width: 295px;
    height: 50px;
}
#item5{
    background-color: black;
    width: 140px;
    height: 50px;
    margin: 5px;
}
#item6{
    background-color: black;
    width: 140px;
    height: 50px;
    margin: 5px;
}
#item7{
    background-color: black;
    width: 295px;
    height: 50px;
}