.container{
    display: flex;
   
}
.header{
    height: 70px;
    width: 270px;
    margin: 6px;
    background-color: black;
}
.container2{
display: inline-flex;
}
.col1{
height: 300px;
width: 80px;
margin: 6px;
background-color: black; 
}
.col2{
    height: 300px;
    width: 80px;
    margin: 6px;
    background-color: black; 
}
.col3{
    height: 300px;
    width: 80px;
    margin: 6px;
    background-color: black; 
}