#container{
    display: flex;
    height: 300px;
    width: 400px;
    flex-wrap: wrap;
}
#box1{
    height: 70px;
    width: 320px;
    margin: 5px;
    background-color: black;
}
#box2{
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: black;
}
#box3{
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: black;
}
#box4{
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: black;
}
#box5{
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: black;
}
#box6{
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: black;
}
#box7{
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: black;
}
#box8{
    height: 70px;
    width: 320px;
    margin: 5px;
    background-color: black;
}
