#container{
    display: flex;
}
#item1{
height: 400px;
width: 200px;
margin: 5px;
background-color: black;
}
#item2{
    height: 400px;
    width: 50px;
    background-color: black;
    margin: 5px;

}